body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: crimson;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
footer{
    height:10%;
    background-color: wheat;
}
nav{
    height:10%;
    background-color: cadetblue;
    display: flex;
    justify-self: center;
}
nav ul{
    width:100%;
    border-color: yellow;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    width: 31%;
    background-color: white;
    list-style-type: none;
    margin-left: -30px;
}
section{
    background-color: orange;
    border: 3px solid black;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
#image1, #image2{
    width:50%;
    height: 350px;
    background-color: lightblue;
    padding: 10px 0px 50px;
}
img{
    width:60%;
}
footer{
    text-align: center;
}